.grid{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-content: center;
    justify-items: center;

}

.grid img{
    margin: 10px;

}

@media screen and (min-width:700px){
    .grid{
        grid-template-columns: auto auto;
    }

}