html{
    color: black;

}

/*Jump to content button */
.jump a{
    font-size: 15px;
    position: absolute;
    top: -100px;
    z-index: 1;
    background: white;
    padding: 10px;
    margin: 10px;       

}

.jump a:focus{
    top: 10px;
    border: 2px solid #252323;

}

nav{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 25px 0; 
    text-align: center;
    border-bottom: 3px solid #252323;
    
}

footer, nav{
    background: #F5F1ED;
    
}

nav li{
    display:inline;
    padding:20px;

}

nav li a, nav li a:active, a, a:visited{
    color:#252323
    
}

/* places border around active page in nav and boldens font */
.active a{
    border: 3px solid #252323;
    padding: 3px;
    font-weight: bold;
    
}

main{
    background: #70798C;
    overflow: hidden;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin:10px;

}

/* hides header in album 1 and 2 */
.album-header{
    display: none;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;

}

.index{
    text-align: center;

}

/* adds border around slideshow toggle in focus or hover */
.index input:hover, .index input:focus{
    outline: 3px solid #252323;

}

.index img{
    display: block;
    margin: auto;
    border: 3px solid #252323;

}

.gallery img{
    max-height: 500px;
    max-width: 500px;
    border: 2px solid #252323;

}
     
.gallery a:focus, .citation a:focus{
    outline:none;

}

/* adds border around images when focused on or hovered over */
nav li a:hover, nav li a:focus, .gallery a:focus img, .gallery a:hover img{
    border:5px solid #252323

}

footer div{
    border-top: 3px solid #252323;

}

footer div p, footer div a{
    font-family: 'Josefin Sans', sans-serif;  
    margin-top: 10px;
    font-size: 15px;
    text-align: center;

}

footer div a:hover, footer div a:focus{
    border: 2px solid #252323;
}

.lb-data .lb-caption{
    font-size:20px;

}

/* sets up grid for album 2 */
.grid{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-items: center;
    overflow: auto;
    min-height: 100vh;

}

.grid img{
    margin: 10px;
    
}

.grid a{
    grid-row: 1/-1;
    align-self: center;
    text-decoration: none;

}

/* sets up flex for album 1 */
.flex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    flex-direction: row;  
    min-height: 100vh;  

}

.flex figure{
    margin: 10px;
    width: 100%;
    height: 100%;

}

/* adds border around images in hover or focus */
.gallery img:hover, .gallery img:focus{
    border:5px solid #252323;

}

/* hides captions */
figcaption{
    display: none;
}

/* add documentation to explain what css does */
@media screen and (min-width:900px){
    /* changes layout of nav - spaces it evenly and increases sizes */
    nav ul{
        display: flex;
        justify-content: space-evenly;
    }

    main p{
        font-size: 20px;

    }

    nav{
        font-size: 30px;

    }

    .jump a{
        font-size: 20px;

    }

    .jump a:focus{
        top: 30px;
    
    }

    /* changes grid layout - adds another column */
    .grid{
        grid-template-columns: auto auto;
        justify-content: space-around;

    }

    .grid img{
        max-width: 400px;
        height: 350px;

    } 

    .grid a{
        grid-row:auto;

    }

    .album-header, h1{
        display: block;
      font-size: 50px;
      
  }

    /* changes flex layout - wraps content, changes size of content */
    .flex{
        flex-wrap: wrap; 
        justify-content: center;

    }
    
    .flex figure{
        width: 40%;


    }

    .flex figure img{
        width: 100%;
    }

    /* changes footer font size */
    footer div p, footer div a{
        font-size: 18px;
        
}

}

@media screen and (min-width:1300px){
    nav ul{
        justify-content: flex-end;
    
    }

    footer div p, footer div a{
        text-align: left;

    }

    /* changes grid layout - adds another column */
    .grid{
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;

    }

    /* changes flex layout - makes room for another content per row */
    .flex figure{
        text-align: center;
        width: 30%;

}

    /* adds caption */
    figcaption{
        display:block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration:none;
        margin: 10px;
        color:black;
    }

    #moreinfo{
        margin-top: 25px;

    }

}
