.gallery img{
    max-height: 500px;
    max-width: 500px;
    border: 2px solid black;

}

main{
    background: gray;

}

.index img{
    display: block;
    margin: auto;
    border: 3px solid black;

}

.active a{
    border: 2px solid black;
    padding: 3px;
    
}

nav{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 25px 0; 
    text-align: left;
    
}

nav li{
    display:inline;
    padding:20px;
}