html{
    color: #252323;
}

.gallery img{
    max-height: 500px;
    max-width: 500px;
    border: 2px solid #252323;

}

main{
    background: #70798C;

}

.jump a{
    font-size: 15px;
    position: absolute;
    top: -100px;
    z-index: 1;
    background: white;
    padding: 10px;
    margin: 10px;       

}

.jump a:focus{
    top: 10px;

}

.index img{
    display: block;
    margin: auto;
    border: 3px solid #252323;

}

.active a{
    border: 2px solid #252323;
    padding: 3px;
    
}

nav{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    padding: 25px 0; 
    text-align: center;
    border-bottom: 3px solid #252323;
    
}

nav li{
    display:inline;
    padding:20px;

}
       
.gallery a:focus, .citation a:focus{
    outline:none;

}

nav li a:hover, nav li a:focus, .gallery a:focus img, .gallery a:hover img{
    border:5px solid #252323

}


nav li a, nav li a:active, a, a:visited{
    color:#252323
    
}

h1{
    font-size: 50px;
    text-align: start;
    padding: 10px;

}

.footer, nav{
    background: #F5F1ED;
    
}

.footer{
    border-top: 3px solid #252323;

}

.footer a{
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;  

}

.lb-data .lb-caption{
    font-size:20px;

}

@media screen and (min-width:900px){
    .gridnav, .indexnav{
        text-align: left;
    
    }

}

@media screen and (min-width:1300px){
    .gridnav, .indexnav{
        text-align: right;
    
    }

}


